<div class="panel panel-success clean">
    <div class="panel-heading">
        <h3 class="panel-title">#{$ main.selected_record.order_number $} - Assignment</h3>
        <a class="btn btn-sm pull-right margin_top_reverse_20 white" ng-click="main.close_dialog()"><i class="fa fa-times"></i></a>            
    </div>
    <div class="panel-body">
        <table class="table" resizeable mode="main.resizeMode" id="table">
        <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th>Current Orders</th>
            </tr>
        </thead>
        <tbody>
            
            <tr ng-repeat="cda in main.cdas">
                <td><input type="checkbox" icheck ng-model="cda.assigned" ng-checked="cda.assigned" ng-change="main.check_assignee(cda)"></td>
                <td>{$ cda.fullname $}</td>
                <td align="center"> 0 </td>
            </tr>
        </tbody>
        </table>
    </div>
    <div class="panel-footer">
        <div class="">
            <button class="btn btn-sm btn-success" ng-disabled="form.$invalid" ng-click="main.set_assignee()">Save</button>
        </div>
    </div>
</div>

