<div class="panel panel-success clean">
    <div class="panel-heading">
        <h3 class="panel-title">#{$ main.selected_record.order_number $} Status history</h3>
        <a class="btn btn-sm pull-right margin_top_reverse_20 white" ng-click="main.close_dialog()"><i class="fa fa-times"></i></a>            
    </div>
    <div class="panel-body">
        <table class="table" resizeable mode="main.resizeMode" id="table">
        <thead>
            <tr>
                <th>Status</th>
                <th>Date</th>
                <th>Remarks</th>
                <th>User</th>
            </tr>
        </thead>
        <tbody>
            
            <tr ng-repeat="history in main.status_histories">
                <td>{$ history.status $}</td>
                <td>{$ history.date $}</td>
                <td>{$ history.remarks $}</td>
                <td>{$ history.changed_by.fullname $}</td>
            </tr>
        </tbody>
        </table>
    </div>
</div>

