<div class="panel panel-success clean noheight">
    <div class="panel-heading">
        <h3 class="panel-title">#{$ main.selected_record.order_number $}</h3>
        <a class="btn btn-sm pull-right margin_top_reverse_20 white" ng-click="main.close_dialog()"><i class="fa fa-times"></i></a>
    </div>
    <div class="panel-body">
        <ul class="nav nav-tabs">
            <li ng-class="{'active' : tab == 1}">
                <a ng-click="tab = 1" ng-init="tab = 1">Status History</a>
            </li>
            <li ng-class="{'active' : tab == 2}">
                <a ng-click="tab = 2">Assignment History</a>
            </li>
        </ul>
        <div class="tab-content">
            <div id="tab-1" class="tab-pane active" ng-show="tab == 1">
                <div class="panel-body">
                    <table class="table" resizeable mode="main.resizeMode" id="table">
                        <thead>
                            <tr>
                                <th>Status</th>
                                <th>Date</th>
                                <th>User</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="history in main.status_histories">
                                <td>{$ history.status $}</td>
                                <td>{$ history.date $}</td>
                                <td>{$ history.changed_by.fullname $}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div id="tab-2" class="tab-pane active" ng-show="tab == 2">
                <div class="panel-body">
                    <table class="table" resizeable mode="main.resizeMode" id="table">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Assigned by</th>
                                <th>Assignee</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="record in main.assignment_histories">
                                <td>{$ record.date $}</td>
                                <td>{$ record.assigned_by.fullname $}</td>
                                <td>{$ record.assignee.fullname $}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
