<!-- 
	Note: Apply nested ui-view here for future tab settings.
 -->
<div class="row wrapper border-bottom white-bg page-heading">
    <p class="no_margin">
        <button type="button" class="{$ main.btnclass['credentials'] $} no_radius" ng-click="main.change_tab('credentials')">Credentials</button>
    </p>
</div>
<div class="clearfix"></div>
<div class="row wrapper wrapper-content animated fadeIn" ng-cloak="">
    <div class="ibox">
        <div class="ibox-content" ng-class="wrapper.page_loader.main ? 'sk-loading' : ''">
            {% include "common/loader.html" %}

            <!-- Content Here -->
            <div class="row">
                <div class="row">
                    <div class="col-sm-2">
                        <button class="btn btn-xs btn-warning btn-w-m" ng-click="main.create_dialog()">New credential</button>
                    </div>
                    <div class="col-sm-4 pull-right">
                            <div class="input-group">
                                <input type="text" ng-model="main.filters.name" class="form-control input-sm" on-enter="main.main_loader();" placeholder="Search by order #/Address" dedong="alde">
                                <div class="input-group-btn">
                                    <button class="btn btn-default btn-sm" type="button" ng-click="main.main_loader(true);"><i class="fa fa-search"></i></button>
                                    <button class="btn btn-default btn-sm" type="button" ng-click="main.main_loader(true);"><i class="fa fa-refresh"></i></button>
                                    <button class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <span class="caret"></span> <span class="sr-only">Toggle Dropdown</span> </button>
                                    <ul class="dropdown-menu pull-right">
                                        <li><a href="#" ng-click="main.common_filter_dialog()">Advance Filter</a></li>
                                        <li><a href="#" ng-click="main.export('/export/common_tables/'+main.current_module,main.filters,main.columns)">Export</a></li>
                                    </ul>
                                </div>
                            </div>
                    </div>
                
                </div>



                <table class="table" resizeable mode="main.resizeMode" id="table" ng-class="(loading == true) ? 'table_loading' : '' ">
                    <thead>
                        <tr class="hdr_border_r">
                            <th custom-sort order="company__name">Company</th>
                            <th>Username</th>
                            <th>Password</th>
                            <th>Security Question/Answer</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    	<tr ng-repeat="record in main.credentials" class="tr_gray" notclicklast loader="main.load_to_edit(record)">
                    		<td>{$ record.company.name $}</td>
                    		<td>{$ record.username $}</td>
                    		<td>{$ record.password $}</td>
                    		<td>{$ record.remarks $}</td>
                    		<td>
                    			<a href="" ng-click="main.delete(record)"><span><i class="fa fa-trash fa-lg"></i></span></a>
                    		</td>
                    	</tr>
                    </tbody>
                </table>
            </div>

            <!-- End of content -->
            <br><br><br><br>
        </div>
    </div>
</div>
