<div class="panel panel-primary clean">
    <div class="panel-heading">
        <h3 class="panel-title">{$ main.record.id ? 'Update Credential' : 'New Credential' $}</h3>
        <a class="btn btn-sm pull-right margin_top_reverse_20" ng-click="main.close_dialog()"><i class="fa fa-times"></i></a>            
    </div>
    <div class="panel-body">
        <div class="ibox-content dialog" ng-class="main.page_loader.dialog ? 'sk-loading' : ''" ng-style="modal_style">
            {% include "common/loader.html" %}
            <form name="form" class="form">
                <div class="row" ng-class="{ 'has-error' : form.company.$invalid && !form.company.$pristine }">
                    <label class="required">Company</label>
                    <ui-select ng-model="main.record.company" required>
                        <ui-select-match>{$$select.selected.name$}</ui-select-match>
                        <ui-select-choices repeat="option in main.companies | filter: $select.search">
                            <div ng-bind-html="option.name | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>




                <div class="row" ng-class="{ 'has-error' : form.username.$invalid && !form.username.$pristine }">
                    <label class="required">Username</label>
                    <input ng-model="main.record.username" name="username" type="text" class="form-control input-sm" placeholder="Username" required>
                </div>

                <div class="row" ng-class="{ 'has-error' : form.password.$invalid && !form.password.$pristine }">
                <label class="required">Password</label>
                <input ng-model="main.record.password" name="password" type="text" class="form-control" placeholder="Password" required>
                </div>
                <div class="row">
                <label class="required">Security Question and Answer</label>
                <textarea rows="5" ng-model="main.record.remarks" name="remarks" class="form-control" placeholder="Security Question and Answer"></textarea>
                </div>
            </form>
        </div>
    </div>
    <div class="panel-footer">
        <div class="">
            <button class="btn btn-sm btn-success" ng-disabled="form.$invalid || main.page_loader.dialog" ng-click="main.create()">Save</button>
        </div>
    </div>
</div>