{% load staticfiles %}
<!DOCTYPE html>
<html ng-app="login_page">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title page-title>Welcome to WeProBPO</title>
    {% include "css_loader.html" %}

    <style type="text/css">
        .big-icon {
          font-size: 160px !important;
          color: #18a689;
        }
    </style>
</head>
<!-- ControllerAs syntax -->
<!-- Main controller with serveral data used in Inspinia theme on diferent view -->

<body id="page-top">
    <div class="loginColumns wrapper wrapper-content animated fadeIn" ng-cloak="" ng-controller="loginCtrl as main">
        <div class="ibox">
            <div class="ibox-content" ng-class="main.page_loader.main ? 'sk-loading' : ''">
                {% include "common/loader.html" %}
                <div>
                    <p>Login in. To see it in action.</p>
                    <form class="m-t" class="form">
                        <div class="form-group">
                            <input type="email" class="form-control" placeholder="Username" required="" ng-model="main.login_data.email">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" placeholder="Password" required="" ng-model="main.login_data.password">
                        </div>
                        <button type="submit" class="btn btn-primary block full-width m-b" ng-click="main.login()">Login</button>

                        <a ui-sref="forgot_password"><small>Forgot password?</small></a>
                        <p class="text-muted text-center"><small>Do not have an account?</small></p>
                    </form>
                    <p class="m-t"> <small>Inspinia we app framework base on Bootstrap 3 &copy; 2014</small> </p>
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="pull-right">
                <strong>Copyright</strong> Matt BPO &copy; 2017-2018
            </div>
        </div>
    </div>
    <toaster-container></toaster-container>
    {% csrf_token %}
</body>
</html>
{% include "footer.html" %}
{% block loader_js_bottom %}
    <script type="text/javascript" src="{% static 'js/login.js' %}"></script>
{% endblock %}


<!--  -->