<div class="row wrapper border-bottom white-bg page-heading">
    <p class="no_margin">
        <button type="button" class="{$ main.btnclass['Client'] $} no_radius" ng-click="main.change_tab('Client')">Client</button>
        <button type="button" class="{$ main.btnclass['CDA'] $} no_radius" ng-click="main.change_tab('CDA')">CDA</button>
        <button type="button" class="{$ main.btnclass['Admin'] $} no_radius" ng-click="main.change_tab('Admin')">Admin</button>
    </p>
</div>
<div class="clearfix"></div>
<div class="row wrapper wrapper-content animated fadeIn" ng-cloak="">
    <div class="ibox">
        <div class="ibox-content" ng-class="main.page_loader.main ? 'sk-loading' : ''">
            {% include "common/loader.html" %}
            <!-- Content Here -->
            <div class="row">
                <div class="row">
                    <div class="col-sm-2">
                        <button class="btn btn-xs btn-warning btn-w-m" ng-click="main.create_dialog()">New {$ main.current_tab $}</button>
                    </div>
                    <div class="col-sm-4 pull-right">
                            <div class="input-group">
                                <input type="text" ng-model="main.filters.name" class="form-control input-md" on-enter="main.main_loader();" placeholder="Search by order #/Address" dedong="alde">
                                <div class="input-group-btn">
                                    <button class="btn btn-default" type="button" ng-click="main.main_loader();"><i class="fa fa-search"></i></button>
                                    <button class="btn btn-default" type="button" ng-click="main.main_loader(true);"><i class="fa fa-refresh"></i></button>
                                    <!-- <button class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <span class="caret"></span> <span class="sr-only">Toggle Dropdown</span> </button>
                                    <ul class="dropdown-menu pull-right">
                                        <li><a href="#" ng-click="main.common_filter_dialog()">Advance Filter</a></li>
                                        <li><a href="#" ng-click="main.export('/export/common_tables/'+main.current_module,main.filters,main.columns)">Export</a></li>
                                    </ul> -->
                                </div>
                            </div>
                    </div>
                </div>
                <table class="table" resizeable mode="main.resizeMode" id="table" ng-class="(loading == true) ? 'table_loading' : '' ">
                    <thead>
                        <tr class="hdr_border_r">
                            <th>Fullname</th>
                            <th>Email</th>
                            <th>Address</th>
                            <th>Company</th>
                            <th>Contact No.</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="record in main.records" class="tr_gray hand_cursor" notclicklast loader="main.load_to_edit(record)">
                           <td>{$ record.fullname $}</td>
                           <td>{$ record.email $}</td>
                           <td>{$ record.address $}</td>
                           <td>{$ record.company $}</td>
                           <td>{$ record.contact_no $}</td>

                           <td>
                               <div class="input-group-btn" uib-dropdown>
                                   <button class="btn btn-sm btn-w-m btn-outline btn-danger" ng-click="main.delete(record)">Remove</button>
                                   <button class="btn btn-sm btn-outline btn-danger" uib-dropdown-toggle type="button">
                                       <span class="caret"></span></button>
                                   <ul uib-dropdown-menu>
                                       <li><a href="" ng-click="main.change_password_dialog(record)">Change Password</a></li>
                                   </ul>
                               </div>
                           </td>
                        </tr>
                    </tbody>
                </table>
                <pagination></pagination>
            </div>
            <!-- End of content -->
            <br><br><br><br>
        </div>
    </div>
</div>
